<ion-view view-title="Settings">
    <ion-nav-title class="bold first-letter-uc">
        <span>What is Rise ?</span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ui-sref="settings"></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <div>
            <p>Rise is a platform that helps you discover the most popular hiphop artists according to your location.</p>
            <p>Walk through NYC and discover the hottest local rappers.</p>
        </div>
    </ion-content>
</ion-view>
