<ion-view view-title="Share Rise" hide-tabs="false">
    <ion-nav-title class="bold first-letter-uc">
        <span>Share Rise</span>
    </ion-nav-title>
    
    <ion-content class="padding">
        <ion-list>
            <ion-item><a href="mailto:contact@rise.com?subject=Get Rise on iOS or Android here https://rise.com/mobile"><i class="icon ion-email"> </i>via email</a></ion-item>
            <ion-item><a href="#"><i class="icon-rise social-facebook-color"> </i>via facebook</a></ion-item>
            <ion-item><a href="#"><i class="icon-rise social-twitter-color"> </i>via twitter</a></ion-item>
            <ion-item><a href="#"><i class="icon-rise social-instagram-color"> </i>via instagram</a></ion-item>
            <ion-item><a href="#"><i class="icon-rise social-whatsapp-color"> </i>via Whatsapp</a></ion-item>
            <ion-item><a href="#"><i class="icon-rise social-instagram-color"> </i>via SMS</a></ion-item>
        </ion-list>
    </ion-content>
</ion-view>