<ion-tabs class="tabs-dark darker tabs-icon-center" ng-class="{'tabs-item-hide': $root.hideTabs}">
    <ion-tab ui-sref="artists" class="ranks icone">Charts</ion-tab>
    <ion-tab ui-sref="search" icon="ion-android-search">Search</ion-tab>
    <!--<ion-tab ui-sref="playlists" class="playlists icone"></ion-tab>-->
    <ion-tab ui-sref="user" icon="ion-person">Profil</ion-tab>
    <ion-tab ui-sref="welcome" icon="ion-person">Connect</ion-tab>
    <!--<ion-tab ui-sref="home" icon="ion-person"></ion-tab>-->
</ion-tabs>